{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add New User</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_start(form) }}

        <h4>Login</h4>

        {{ form_row(form.user.username) }}
        {{ form_row(form.user.password) }}
        {{ form_row(form.user.roles) }}

        <h4>Details</h4>

    {{ form_end(form) }}
{% endblock %}


